<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="styles/style11.css" />
    <link rel="stylesheet" href="styles/style12.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Carter One:wght@400&display=swap"
    />
  </head>
  <body>


    
      <nav class="header" id="nav1">
        <a class="frame-parent">
          <div class="home-teams-privacy-policy-wrapper">
            <div class="home-teams-privacy"></div>
          </div>
          <div class="frame-wrapper"><ul>
            <li ><a class="a1" href="">Home</a></li>
            <li ><a class="a1" href="">Teams</a></li>
           
           
          </ul>
            <div class="">
              
              <div class="loginbutton">
                <button id="loginButton" class="button-10" role="button">Login / Sign Up</button>
<script>
  document.getElementById("loginButton").addEventListener("click", function() {
    window.location.href = "/login"; 
  });
</script>

                
                </div>
            </div>
          </div>
        </a>
        <div class="frame-group">
          <div class="find-book-and-rent-a-car-easi-wrapper">
            <div class="find-book-and-container">
              <p class="find-book-and-rent-a-car-easi">
                <span class="find">Find, </span>
                <span class="book">book</span>
                <span> and rent a car</span>
                <span class="easily"> Easily</span>
              </p>
              <p class="with-vitians">
                <span class="find">With</span>
                <span> Vitian’s</span>
              </p>
            </div>
          </div>
          
        </div>
        <img class="image-15-icon" alt="" src="styles/online-taxi-service-cartoon-people-standing-yellow-car-holding-phones-carsharing-rental-app-users-cab-.png" />

        <div class="cab-clique">CAB CLIQUE</div>
      </nav>
    
    
  </body>
</html>