<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/logincss.css">
    <!-- <link rel="stylesheet" href="ani.scss">
    <link rel="stylesheet" href="ani.pug"> -->
</head>

<body>
    
    <h2> </h2>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/register" method="POST">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class='bx bxl-facebook' style='color:#121212'></i></a>
                    <a  href="/auth/google" class="social"><i class='bx bxl-google' style='color:#121212' ></i></a>
                    <a href="#" class="social"><i class='bx bxl-linkedin' style='color:#121212'></i></a>
                </div>
                <span>or use your Vit email for registration</span>
               
                <input type="email" name="username" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <button type="submit" class="btn1">Sign Up</button>
            </form>
            
        </div>
        <div class="form-container sign-in-container">
            <form action="/login" method="POST">
                <h1>Sign in</h1>
                <div class="social-container">
                    <i class='bx bxl-facebook' style='color:#121212'></i>
                    <a href="/auth/google" class="social"><i class='bx bxl-google' style='color:#121212'></i></a>
                    <a href="#" class="social"><i class='bx bxl-linkedin' style='color:#121212'></i></a>
                </div>
                <span>or use your account</span>
                <input type="email" name="username" placeholder="Email" required/>
                <input type="password" name="password" placeholder="Password" required/>
                <a href="#" class="forgot">Forgot your password?</a>
                <button type="submit" id="submitforlogin" class="btn1">Sign In</button>
                
            </form>
            
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1><span class="sp1">Welcome </span>Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, <span class="sp1">Vitian's</span></h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    
   
      <script src="scripts/animation.js"></script>
</body>
</html>